@model IEnumerable<DataKioskStacks.APIServer.APIObjs.RegisteredUserReportObj>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content Header (Page header) -->

<section class="content-header">
    <div class="header-icon">
        <i class="pe-7s-box1"></i>
    </div>
    <div class="header-title">
        <form action="#" method="get" class="sidebar-form search-box pull-right hidden-md hidden-lg hidden-sm">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
        <h1>User</h1>
        <small>user list</small>
        <ol class="breadcrumb hidden-xs">
            <li><a href="@Url.Action("Index", "Home")"><i class="pe-7s-home"></i> Home</a></li>
            <li class="active">User</li>
        </ol>
    </div>
</section>



<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-bd">
                <div class="panel-heading">

                    <div class="btn-group">
                        <a class="btn btn-success" href="@Url.Action("AddUser", "PortalUser")"> <i class="fa fa-plus"></i>  Add User</a>
                    </div>
                </div>

                <div class="panel-body">

                    @{

                        var errorMessage = ViewBag.Error as string;
                        var successMessage = ViewBag.Reply as string;
                        if (!string.IsNullOrEmpty(errorMessage) && errorMessage.Length > 1)
                        {
                            <div class="row">
                                <div class="alert alert-danger alert-dismissible show" role="alert" style="width: 100%">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h5>Error!</h5>
                                    <p>@Html.Raw(errorMessage)</p>
                                </div>
                            </div>
                        }


                        if (!string.IsNullOrEmpty(successMessage) && successMessage.Length > 1)
                        {

                            <div class="row">
                                <div class="alert alert-success" role="alert" style="width: 100%">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h5>Success!</h5>
                                    <p>@Html.Raw(successMessage)</p>
                                </div>
                            </div>
                        }

                    }


                    <div class="table-responsive">

                        <table id="datatable-buttons" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    @*<th>Address</th>*@
                                    <th>Email</th>
                                    <th>Phone Number</th>
                                    <th>Date Registered</th>
                                    <th>Status</th>
                                    <th>
                                        <div>Actions</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @{
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Surname</td>
                                            @*<td>@item.Address</td>*@
                                            <td>@item.Email</td>
                                            <td>@item.MobileNumber</td>
                                            <td>@item.TimeStampRegistered</td>
                                            @*<td>@item.StatusType</td>*@
                                            @if (item.UserTypeId == 1)
                                            {
                                                <td><span class="label-success label label-default">@item.UserTypeId</span></td>
                                            }
                                            else
                                            {
                                                <td><span class="label-default label label-danger">@item.UserTypeId</span></td>
                                            }
                                            <td>

                                                <button onclick="location.href='@Url.Action("ModifyUser", "PortalUser", new { id = @item.UserId })'" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="left" title="Update">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                </button>
                                                <button onclick="changeOrganizationStatus(@item.OrganizationId, 2)" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="right" title="Delete ">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </button>

                                                @*<button onclick="modifyUserInfo(@item.OrganizationId)" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="left" title="Update">
                                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                                    </button>
                                                    <button onclick="changeOrganizationStatus(@item.OrganizationId, 2)" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="right" title="Delete ">
                                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                    </button>*@
                                            </td>

                                            @*<td>


                                                    <div class="btn-group m-b-20">
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-default btn-sm dropdown-toggle  waves-effect" data-toggle="dropdown" aria-expanded="false"> Action <span class="caret"></span> </button>
                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item" href="javascript:void(0)" onclick="javascript: window.location.href = '@Url.Action("ModifyPortalUser", "AppUserAdmin", new { id = @item.OrganizationId })';">Edit</a>


                                                                <a class="dropdown-item" href="javascript:void(0)" onclick="modifyUserInfo(@item.OrganizationId, 1)">
                                                                    Reset User Password
                                                                </a>
                                                                <a class="dropdown-item" href="javascript:void(0)" onclick="modifyUserInfo(@item.OrganizationId, 2)">
                                                                    Lock User Account
                                                                </a>
                                                                <a class="dropdown-item" href="javascript:void(0)" onclick="modifyUserInfo(@item.OrganizationId, 3)">
                                                                    Un-Lock User Account
                                                                </a>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>*@
                                        </tr>

                                    }
                                }

                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->