
<header class="main-header">
    <a href="@Url.Action("Index", "Home")" class="logo">
        <!-- Logo -->
        <span class="logo-mini">
            <!--<b>A</b>H-admin-->
            <img src="~/Content/dist/img/mini-logo.png" alt="">
        </span>
        <span class="logo-lg">
            <!--<b>Admin</b>H-admin-->
            @*<img src="~/Content/dist/img/logo.png" alt="">*@
            <span>ENROLL</span><span style="color: green"> DATAKIOSK</span>
        </span>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top ">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <!-- Sidebar toggle button-->
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-tasks"></span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                
                <!-- Messages -->
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="pe-7s-mail"></i>
                        <span class="label label-success">4</span>
                    </a>

                    <ul class="dropdown-menu">
                        <li class="header">
                            <i class="fa fa-envelope-o"></i>
                            4 Messages
                        </li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <!-- start message -->
                                    <a href="#" class="border-gray">
                                        <div class="pull-left">
                                            <img src="~/Content/dist/img/avatar2.png" class="img-thumbnail" alt="User Image">
                                        </div>
                                        <h4>Alrazy</h4>
                                        <p>
                                            Lorem Ipsum is simply dummy text of...
                                        </p>
                                        <span class="label label-success pull-right">11.00am</span>
                                    </a>

                                </li>
                                <li>
                                    <a href="#" class="border-gray">
                                        <div class="pull-left">
                                            <img src="~/Content/dist/img/avatar4.png" class="img-thumbnail" alt="User Image">
                                        </div>
                                        <h4>Tanjil</h4>
                                        <p>
                                            Lorem Ipsum is simply dummy text of...
                                        </p>
                                        <span class="label label-success pull-right"> 12.00am</span>
                                    </a>

                                </li>
                                <li>
                                    <a href="#" class="border-gray">
                                        <div class="pull-left">
                                            <img src="~/Content/dist/img/avatar3.png" class="img-thumbnail" alt="User Image">
                                        </div>
                                        <h4>Jahir</h4>
                                        <p>
                                            Lorem Ipsum is simply dummy text of...
                                        </p>
                                        <span class="label label-success pull-right"> 10.00am</span>
                                    </a>

                                </li>
                                <li>
                                    <a href="#" class="border-gray">
                                        <div class="pull-left">
                                            <img src="~/Content/dist/img/avatar4.png" class="img-thumbnail" alt="User Image">
                                        </div>
                                        <h4>Shawon</h4>
                                        <p>
                                            Lorem Ipsum is simply dummy text of...
                                        </p>
                                        <span class="label label-success pull-right"> 09.00am</span>
                                    </a>

                                </li>
                                <li>
                                    <a href="#" class="border-gray">
                                        <div class="pull-left">
                                            <img src="~/Content/dist/img/avatar3.png" class="img-thumbnail" alt="User Image">
                                        </div>
                                        <h4>Shipon</h4>
                                        <p>
                                            Lorem Ipsum is simply dummy text of...
                                        </p>
                                        <span class="label label-success pull-right"> 03.00pm</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer">
                            <a href="#">See all messages <i class=" fa fa-arrow-right"></i></a>
                        </li>
                    </ul>
                </li>
                <!-- Notifications -->
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="pe-7s-bell"></i>
                        <span class="label label-warning">8</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header"><i class="fa fa-bell"></i> 8 Notifications</li>
                        <li>
                            <ul class="menu">
                                <li>
                                    <a href="#" class="border-gray"><i class="fa fa-inbox"></i> Inbox  <span class=" label-success label label-default pull-right">9</span></a>
                                </li>
                                <li>
                                    <a href="#" class="border-gray"><i class="fa fa-cart-plus"></i> New Order <span class=" label-success label label-default pull-right">3</span> </a>
                                </li>
                                <li>
                                    <a href="#" class="border-gray"><i class="fa fa-money"></i> Payment Failed  <span class="label-success label label-default pull-right">6</span> </a>
                                </li>
                                <li>
                                    <a href="#" class="border-gray"><i class="fa fa-cart-plus"></i> Order Confirmation <span class="label-success label label-default pull-right">7</span> </a>
                                </li>
                                <li>
                                    <a href="#" class="border-gray"><i class="fa fa-cart-plus"></i> Update system status <span class=" label-success label label-default pull-right">11</span> </a>
                                </li>
                                <li>
                                    <a href="#" class="border-gray"><i class="fa fa-cart-plus"></i> client update <span class="label-success label label-default pull-right">12</span> </a>
                                </li>
                                <li>
                                    <a href="#" class="border-gray">
                                        <i class="fa fa-cart-plus"></i> shipment cancel
                                        <span class="label-success label label-default pull-right">2</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer">
                            <a href="#"> See all Notifications <i class=" fa fa-arrow-right"></i></a>
                        </li>
                    </ul>
                </li>
               
                <!-- user -->
                <li class="dropdown dropdown-user admin-user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <div class="user-image">
                            <img src="~/Content/dist/img/avatar4.png" class="img-circle" height="40" width="40" alt="User Image">
                        </div>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="profile.html"><i class="fa fa-users"></i> User Profile</a></li>
                        <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
                        <li><a href="@Url.Action("Index", "SignOut")"><i class="fa fa-sign-out"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- =============================================== -->
<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">

    <!-- sidebar -->
    <div class="sidebar">

        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="image pull-left">
                <img src="~/Content/dist/img/avatar5.png" class="img-circle" alt="User Image">
            </div>
            <div class="info">
                <h4>Welcome</h4>
                <p>Mr. Agbure Shelly</p>
            </div>
        </div>


        <!-- sidebar menu -->
        <ul class="sidebar-menu">
            <li class="active">
                <a href="@Url.Action("Index", "Home")">
                    <i class="fa fa-hospital-o"></i><span>Dashboard</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-home"></i><span>Organization</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("AddOrganization", "Organization")">Add Organization</a></li>
                    <li><a href="@Url.Action("Index", "Organization")">Organization list</a></li>

                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-user"></i><span>Organization Station</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("AddStation", "Station")">Add Station</a></li>
                    <li><a href="pt-list.html">Station list</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-file-text"></i><span>Enroller</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("AddEnroller", "Enroller")">Add Enroller</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-file-text"></i><span>Report</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="patient-wise-report.html">Client Report</a></li>
                    <li><a href="doctor-wise-report.html">Station Report</a></li>
                    <li><a href="doctor-wise-report.html">Enroller Report</a></li>
                    <li><a href="total-report.html">Total Report</a></li>
                </ul>
            </li>
        </ul>

    </div>

</aside>